@model WebApp.MemesMVC.Models.UserModel

@{
    ViewData["Title"] = "Ban";
}

<div class="text-center">
    <h1>Change role</h1>
    <hr />
    <div class="row justify-content-center text-center">
        <div class="col-auto">
            <form asp-action=@ViewBag.Action>
                <div class="form-group form-part">
                    <text>ID:   @Model.Id</text>
                    <input type="hidden" asp-for="@Model.Id" class="form-control" />
                </div>
                <div class="form-group form-part">
                    <text>Nick: @Model.Nickname</text>
                </div>
                <div class="form-group form-part">
                    <text>Account created in: @Model.AccountCreationTime</text>
                </div>
                <div class="form-group form-part">
                    <text>Role: @Model.Role</text>
                </div>
                @if (!Model.IsBanned)
                {
                    <div class="form-group form-part">
                        <label asp-for="BanReason" class="control-label"></label>
                        <input type="text" asp-for="BanReason" class="form-control" autocomplete="off" />
                        <span asp-validation-for="BanReason" class="text-danger"></span>
                    </div>
                    <div class="form-group form-part">
                        <label asp-for="BanExpireIn" class="control-label"></label>
                        <input asp-for="BanExpireIn" class="form-control" />
                        <span asp-validation-for="BanExpireIn" class="text-danger"></span>
                    </div>
                }
                else
                {
                    <div class="form-group">
                        <text>Reason: @Model.BanReason</text>
                    </div>
                    <div class="form-group">
                        <text>Expire in: @Model.BanExpireIn</text>
                    </div>
                }
                <div class="form-group form-btn">
                    <input value="@ViewBag.Action" class="btn" type="submit" asp-route-pageIndex=@ViewBag.PageIndex asp-action=@ViewBag.Action />
                </div>
            </form>
        </div>
        <div class="col-auto nav-button form-group form-btn">
            <hr />
            <a class="btn" asp-route-roleType=@Model.Role asp-route-pageIndex=@ViewBag.PageIndex asp-action="Index">Back</a>
        </div>
    </div>
</div>

